<link rel="preload" href="/fonts/Lexend/Lexend-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin>
<link rel="stylesheet" href="{{ get_url(path='style.css') }}">
<link rel="icon" href="{{ get_url(path='assets/favicon.svg') }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ get_url(path='assets/apple-touch-icon.png') }}">
<meta property="og:site_name" content="{{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ og_title_text }}">
<meta property="og:description" content="{{ description_text }}">
<meta property="og:image" content="{{ get_url(path='assets/og.png') }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ get_url(path='assets/og.png') }}">
